/* PushUpCounter.css */

body {
  background: #232323;
}

.heading2{
  color: #37db5e;
  margin-bottom: 0.5em;
  font-family: 'Montserrat', sans-serif;
  font-size: 2rem;
  font-weight: bold;
}

.heading3{
  color: #eee;
  font-weight: 500;
  margin: 0.2em 0;
}

.heading4 {
  color: #ccc;
  font-size: 1.09rem;
  margin-bottom: 8px;
}

.pushupbut {
  display: flex;
  gap: 1.2em;
  justify-content: center;
  margin-top: 14px;
  margin-bottom: 22px;
}

.pushupbut button {
  padding: 10px 30px;
  background: #444;
  color: #eee;
  border: none;
  border-radius: 7px;
  font-size: 1em;
  font-weight: 550;
  box-shadow: 0 2px 12px #000a;
  cursor: pointer;
  transition: background 0.15s, color 0.15s;
}

.pushupbut button:hover {
  background: #37db5e;
  color: #232323;
}

canvas {
  background: #151515;
  border: 2px solid #3c3c3c;
  border-radius: 8px;
  box-shadow: 0 4px 20px #0006;
  margin-bottom: 12px;
  max-width: 100%;
}

.instructions {
  background: #151515;
  color: #eee;
  padding: 15px 18px;
  border-radius: 11px;
  box-shadow: 0px 3px 13px 2px #0008;
  border: 1.6px solid #3c3c3c;
  font-size: 1em;
  margin-top: 20px;
}

.instructions ul {
  margin: 0;
  padding-left: 18px;
  
  
}
.instructions ul li{
 font-size: 18px;
 color: #37db5e;
  
}



@media (max-width: 600px) {
  .pushupbut {
    flex-direction: column;
    gap: 0.95em;
  }
  canvas {
    width: 95vw !important;
    height: auto !important;
  }
}
